body {
  padding: 0 0px;
  font: normal 50% "Lucida Grande", Helvetica, Verdana, Arial;

}

p { margin: 10px 0; }

.Error
{
   color: red; 
}

#show_your_vote {
  overflow: hidden;
  width: 965px;
  height: 442px;
  border: 1px solid #cccccc;
  background-color: #F8EDD5;
}
.logo {
  margin-right: 10px;
}
.gfc.signin {
  width: 200px;
  margin: 5px 0 3px 10px;
}

.top {
  width: 100%;
  height: 450px;
}
.bottom {
  overflow: hidden;
  height: 120px;
}
.left {
  float: left;
}
.right {
  float: right;
  
}

#MapTop
{
  overflow: hidden;
  margin-bottom: 7px;
    margin-top: 7px;
}

.Search
{
  
}

.Search #searchInput
{
  width: 201px;
  height: 20px;
  font-size: 14px;
}

#searchButton
{

}
#MapTop .imageHolder
{
    height: 18px;
    display: inline-block;
}
.Totals
{
  width: 250px;
  background-color: white;
  height: 20px;
  padding-left: 10px;

}

.Totals span
{
  font-size: 18px;
  color: #004063;
  font-weight: bold;
}

#MapContainer
{
  width: 620px;
  height: 446px;
  background-color: #EFDCAC;
  padding-top: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}


#explore_map {
  width: 965px;
  height: 400px;
  background-color: red;
}

#stats {
  border: 0px solid #cccccc;
  height: 60px;
  width: 211px;
  background-color: #fdf7eb;
  margin: 3px 3px 3px 3px;
}
#comments_wrapper {
  background-color: #fdf7eb;
  margin: 3px 3px 3px 3px;
  height:395px;
  width:211px;
  padding:1px;
}

.ui-tabs .ui-tabs-panel {
  padding:2px 0 0 0 !important;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 150%;
  overflow: hidden;
  padding: 0.3em 0.6em;
  height: 22px;
}


#vote
{
  background: url('/images/large/FormBackground.png') no-repeat left top;
  width: 287px;
  height: 430px;
  margin-left: 15px;
  padding: 15px 0 0 15px;
  display: inline;
  position: relative;
}
#vote h1
{
  color: #F8EDD5;
  font-size: 20px;
}

#vote #why {
  float: left;
  border: 0px solid #cccccc;
  width: 598px;
  height: 50px;
  margin: 0px 0px 0px 0;
  padding: 0px;
}

#vote #vote_map {
float: right;	
border: 1px solid #cccccc;		
}

#vote form {
  border: 0px solid #cccccc;
  margin: 2px 0 2px 0;
  padding: 5px;
  overflow: hidden;
  width: 
}

#vote #submit{
	margin: 0 0 0 20px;
}

form.cmxform {
  text-align: left;
  font-size: 1.4em;
  color: #F8EDD5;
}
#big_button {
  float: left;
  display: block;
  margin: 12px;
}
#videoBar-bar {
  margin: 3px;
  float: right;
}

# _map p {
  clear: both;
}

.map_comments {
  margin: 15px 0;
  width: 336px;
  height: 337px;
}

.picture_set {
  list-style-type: none;
  width: 200px;
  overflow: auto;
}

.picture_set li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.picture_set li img {
  width: 45px;
  height: 45px;
}

#embed {
  font-size: 1.8em;
  padding: 60px;
}

#embed pre {
  overflow: auto;
  border: 1px solid black;
}

#fc-opensocial-api, #fc-opensocial-api iframe, #fc-opensocial-api div {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}


/* forms */
form.cmxform fieldset {
  margin-bottom: 10px;
  border: none;
  color: #F8EDD5;

}
form.cmxform fieldset p b {
  color: #F8EDD5;
  width: 262px;
}


form.cmxform #Submit
{
  position: absolute;
  right: 17px;
  bottom: 10px;
}

form.cmxform label {
  display: inline-block;
  line-height: 1.0;
  vertical-align: top;
  width: 88px;
  font-size:  1.2em;
}

form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}


form.cmxform fieldset li {
  list-style: none;
  margin: 0;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  padding: 3px 7px 5px;
}

form.cmxform fieldset li input {
  width: 155px;
}
form.cmxform fieldset li select {
  width: 155px;
}

form.cmxform em {
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  color: #f00;
}
