body {
  padding: 0 10px;
  font: normal 62.5% "Lucida Grande", Helvetica, Verdana, Arial;
}

p { margin: 10px 0; }

#show_your_vote {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 740px;
  height: 660px;
}

.logo {
  margin-right: 10px;
}
.gfc.signin {
  width: 282px;
  margin: 5px 0 3px 10px;
}

.top {
  overflow: hidden;
  width: 100%;
  height: 466px;
}
.bottom {
  overflow: hidden;
  height: 120px;
}
.left {
  float: left;
}
.right {
  float: left;
}

#explore_map {
  width: 483px;
  height: 460px;
  background-color: #ffffff;
  margin: 3px 0 3px 1px;
}

#stats {
  border: 1px solid #cccccc;
  height: 60px;
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  margin: 3px 0 3px 3px;
}

#comments_wrapper {
  background-color: #ffffff;
  margin: 0 0 3px 3px;
  height:395px;
  width:252px
}

.ui-tabs .ui-tabs-panel {
  padding:2px 0 0 0 !important;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 150%;
  overflow: hidden;
  padding: 0.3em 0.6em;
  height: 25px;
}

#vote #why {
  float: left;
  border: 1px solid #cccccc;
  width: 336px;
  height: 551px;
  margin: 2px 2px 2px 0;
  padding: 15px;
}
#vote form {
  float: right;
  border: 1px solid #cccccc;
  width: 336px;
  height: 551px;
  margin: 2px 0 2px 0;
  padding: 15px;
}

form.cmxform {
  text-align: left;
  font-size: 1.1em;
}
#big_button {
  float: left;
  display: block;
}
#videoBar-bar {
  margin: 3px;
  padding-top: 4px;
  float: right;
}

#legal {
  position: absolute;
  top: 636px;
  left: 2px;
  clear: both;
  text-align: center;
  width: 730px;
  height: 15px;
  margin: 0 auto;
  padding: 5px;
  background-color: #eeeeee;
}

#explore_map p {
  clear: both;
}

.map_comments {
  margin: 15px 0;
  width: 443px;
  height: 337px;
}

.picture_set {
  list-style-type: none;
  width: 200px;
  overflow: auto;
}

.picture_set li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.picture_set li img {
  width: 45px;
  height: 45px;
}

#voices_for_earth h2 {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  font-size: 120%;
  padding: 5px;
  margin: 1px;
}

#voices_for_earth p {
  position: absolute;
  top: 594px;
  left: 21px;
  width: 590px;
  font-size: 0.8em;
}

#fc-opensocial-api, #fc-opensocial-api iframe, #fc-opensocial-api div {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}
