body {
  padding: 0 0px;
  font: normal 50% "Lucida Grande", Helvetica, Verdana, Arial;
}

p { margin: 10px 0; }

#show_your_vote {
  overflow: hidden;
  width: 600px;
  height: 500px;
  background-color: #fdf7eb;
  border: 1px solid #cccccc;
}
.logo {
  margin-right: 10px;
}
.gfc.signin {
  width: 200px;
  margin: 5px 0 3px 10px;
}

.top {
  
  width: 100%;
  height: 450px;
}
.bottom {
  overflow: hidden;
  height: 120;
}
.left {
  float: left;
}
.right {
  float: right;
}

#explore {
  padding-top: 7px;
}
* html #explore {
  position: absolute;
  top: 37px;
  left: 0px;
}
#explore_map {
  width: 380px;
  height: 427px;
  background-color: #fdf7eb;
  margin: 3px 0 0px 0px;
}

#stats {
  overflow: hidden;
  width:211px;
  height:25px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #cccccc;
  margin-top:3px;
}
#comments_wrapper {
  background-color: #fdf7eb;
  margin: 3px 3px 3px 3px;
  height: 395px;
  width: 211px;
  padding: 1px;
}
* html #stats {
  position: absolute;
  top: 7px;
  left: 387px;
}
* html #comments_wrapper {
  position: absolute;
  top: 38px;
  left: 381px;
}

.ui-tabs .ui-tabs-panel {
  padding:2px 0 0 0 !important;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 150%;
  overflow: hidden;
  padding: 0.3em 0.6em;
  height: 22px;
}


/* new design elements putting them in here, rather than the forms.cssas template specific forms are being added.*/
#VoteForm OL LI INPUT,
#VoteForm OL LI SELECT {
 width: 185px;
 height: 19px;
 margin-bottom: 3px;
}

#expandButton
{
  margin-right: 7px;
  margin-top: 8px;
  cursor: pointer;
  
}
#VoteForm
{
  font-weight: bold;  
  position: relative;
  height: 405px;
  width: 294px;
}

#VoteForm legend {
  padding-bottom: 3px;
}





#VoteForm OL LI LABEL {
 width: 92px;
 height: 19px;
}

#vote #Connect
{
  border-bottom: solid 1px #CCCCCC;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  min-height: 35px;
}


#NavTabs
{
  overflow: hidden;
  font-size: 16px;
  color: #004063;
}

#NavTabs ul li
{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  border: solid 1px black;
}

#NavTabs ul li.active
{
  border-bottom: none;
}

#NavTabs ul li a
{
  font-size: 16px;
  color: #004063;
  text-decoration: none;
}
#searchButton
{
  background-color:#008AFF;
  border:1px solid #224499;
  color:#FFFFFF;
  cursor:pointer;
  height:19px;
  margin:0;
  padding:0 4px 2px;
  position:absolute;
  right:0;
  top:0;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#searchLogo
{
  left:0;
  position:absolute;
  top:0;  
}
.Error
{
   color: red; 
}
#searchInput
{
  border:1px solid #67A7E3;
height:15px;
left:70px;
padding:1px 3px;
position:absolute;
top:0;
font-family: arial, sans-serif;
font-size: 13px;
  
}
/*end new design elements*/


#vote #vote_map {
float: right;	
border: 1px solid #cccccc;		
}

#vote form {
  float: left;
  border: 0px solid #cccccc;
  width: 584px;
  height: 358px;
  margin: 15px 0 2px 0;
  padding-top: 8px;
}
#closeBar
{
  cursor:pointer;
  margin: 5px;
  
}
#vote #submit{
	position: absolute;
  left: 148px;
  bottom: -1px;
  z-index:10px;
}

form.cmxform {
  text-align: left;
  font-size: 1.1em;
}
#big_button {
  float: left;
  display: block;
  margin: 12px;
}
#videoBar-bar {
  margin: 3px;
  float: right;
}

#legal {
  clear: both;
  text-align: right;
  vertical-align: text-top;
  width: 598px;
  height: 10px;
  margin: 0px 0 0px 0;
  padding-left: 0px;
  margin-right: 10px;
  background-color: #fdf7eb;
  border: none;
}

#explore_map p {
  clear: both;
}

.map_comments {
  margin: 15px 0;
  width: 336px;
  height: 337px;
}

.picture_set {
  list-style-type: none;
  width: 200px;
  overflow: auto;
}

.picture_set li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.picture_set li img {
  width: 45px;
  height: 45px;
}

#embed {
  font-size: 1.8em;
  padding: 60px;
}

#embed pre {
  overflow: auto;
  border: 1px solid black;
}

#fc-opensocial-api, #fc-opensocial-api iframe, #fc-opensocial-api div {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}
