{% extends "base.html" %}
{% block includes %}
    <script src="/js/explore.js"></script>
    <script type="text/javascript">
      document.write(
        '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=' +
        js_api_key +
        '"><\/script>'
      );
    </script>
    <script src="/js/markermanager.js"></script>
    <script src="/js/maptooltip.js"></script>
    <script src="/js/mapiconmaker.js"></script>
    <script src="http://www.google.com/uds/solutions/videobar/gsvideobar.js?mode=new" type="text/javascript"></script>
    <script type="text/javascript" src="http://jquery.malsup.com/cycle/jquery.cycle.all.js"></script> 
{% endblock %}
{% block tabs %}
    <li class="ui-state-default ui-corner-top"><a href="/learn">Learn</a></li>
    <li class="ui-state-default ui-corner-top"><a href="/vote">Vote</a></li>
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/explore">Explore</a></li>
{% endblock %}
{% block content %}
  <div id="explore">
    <div class="top">
      <div class="left">
        <div id="explore_map"></div>
      </div>
      <div class="right">
        <div id="stats" class="ui-state-default">
          <span class="prev">&#8592;</span>
          <span>
            <span id="votes_span"><span id="votes"></span> Votes</span>
            <span id="countries_span" style="display:none"><span id="countries"></span> Countries</span>
          </span>
          <span class="next">&#8594;</span>
        </div>
        <div id="comments_wrapper">
          <!-- Define the div tag where the gadget will be inserted. -->
          <div id="div-6448190187886641253" style="width:250px;border:1px solid #cccccc;max-height:394px"></div>
        </div>
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
          var skin = {};
          skin['BORDER_COLOR'] = '#cccccc';
          skin['ENDCAP_BG_COLOR'] = '#f2f2f2';
          skin['ENDCAP_TEXT_COLOR'] = '#333333';
          skin['ENDCAP_LINK_COLOR'] = '#0000cc';
          skin['ALTERNATE_BG_COLOR'] = '#ffffff';
          skin['CONTENT_BG_COLOR'] = '#ffffff';
          skin['CONTENT_LINK_COLOR'] = '#0000cc';
          skin['CONTENT_TEXT_COLOR'] = '#333333';
          skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
          skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
          skin['CONTENT_HEADLINE_COLOR'] = '#333333';
          skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
          skin['HEADER_TEXT'] = 'Comments';
          skin['POSTS_PER_PAGE'] = '4';
          skin['HEIGHT'] = '394';
          google.friendconnect.container.renderWallGadget({
            id: 'div-6448190187886641253',
            site: site_id,
              'view-params':{"disableMinMax":"true","scope":"ID","features":"video,comment","docId":locationId,"startMaximized":"true","useFixedHeight":"true"}
          }, skin);
        </script>
      </div>
    </div>
    <div class="bottom">
      <div id="voices_for_earth">
        <h2>Voices for Earth</h2>
        <a id="big_button" href="http://www.youtube.com/user/Cop15">
          <img src="images/raise_your_voice.png" />
        </a>
        <div id="videoBar-bar">
          <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
        </div>
        <style type="text/css">
          @import url("http://www.google.com/uds/css/gsearch.css");
          @import url("http://www.google.com/uds/solutions/videobar/gsvideobar.css");
          .playerInnerBox_gsvb .player_gsvb {
            width: 320px;
            height: 260px;
          }
        </style>
        <p class="small">
          Send a video with your views to the world leaders at COP15, the most important climate change conference in a decade.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
