{% extends "base.html" %}
{% block includes %}
    <link type="text/css" href="/css/syv.css" rel="stylesheet" />
    <link type="text/css" href="/css/forms.css" rel="stylesheet" />
    <script src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
{% endblock %}
{% block tabs %}
<img src="/images/mini/HeaderTerms.png" width="600" height="39" border="0" usemap="#Map" style="background-color:{{bg_color}}" />
<map name="Map" id="Map">
  <area shape="rect" coords="1,1,189,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
</map>
{% endblock %}
{% block content %}
<div id="embed">
<!--  <p>
    You can embed the Show Your Vote petition in your site with the
    following code:  
  </p>
  <pre>
    &lt;iframe src="http://showyourvote.org{{ vote_href }}"
      frameborder="0" width="625" height="510"&gt;
      &lt;p&gt;Your browser does not support iframes.&lt;/p&gt;
    &lt;/iframe&gt;
  </pre> -->
<p>
  Thank you!  You will receive an email soon with the html code to embed Show 
  Your Vote on your website.
</p>
</div>
{% endblock %}
