{% extends "base.html" %}
{% block includes %}
    <link type="text/css" href="/css/syv.css" rel="stylesheet" />
    <script src="/js/explore.js"></script>
    <script type="text/javascript">
      document.write(
        '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=' +
        {
          'localhost:8080': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hTwM0brOpm-All5BF6PoaKBxRWWERQKBKqDm80in1RTu5PkBiNU5rC6TQ',
          'www.corp.google.com': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
          'showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
          'www.showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
          'show-your-vote.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A',
	  'syv-test.appspot.com': 'ABQIAAAALrtqAVfQq7mfTTl0EBb7vBT0h0tJ-bKGUcjUByQY52vcgVjYfBTGUDVuRrptlbTJqV8QJhQ1sQgxDQ'
        }[location.host] +
        '"><\/script>'
      );
    </script>
    <script src="/js/markermanager.js"></script>
    <script src="/js/maptooltip.js"></script>
    <script src="/js/mapiconmaker.js"></script>
<!--    <script src="http://www.google.com/uds/solutions/videobar/gsvideobar.js?mode=new" type="text/javascript"></script> -->
<!--    <script type="text/javascript" src="http://jquery.malsup.com/cycle/jquery.cycle.all.js"></script> -->
{% endblock %}
{% block tabs %}
<img src="/images/mini/HeaderExplore.png" width="600" height="39" border="0" usemap="#Map" style="background-color:{{bg_color}}"/>
<map name="Map" id="Map" >
  <area shape="rect" coords="1,1,189,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
  <area shape="rect" coords="204,10,250,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
  <area shape="rect" coords="251,10,323,39" href="explore?skin=mini&amp;bg_color={{bg_color}}" />
  <area shape="rect" coords="324,10,381,39" href="learn?skin=mini&amp;bg_color={{bg_color}}" />
</map>
{% endblock %}
{% block content %}
  <div id="explore">

  
    <div class="top">
      <div class="left">
        <div id="explore_map"></div>
      </div>
      <div class="right">
           <div id="stats">
             <!-- <span id="prev" >&#8592;</span> -->
             <span>
                <span id="votes_span"><span id="votes"></span>&nbsp;Votes</span>
                <span id="countries_span" style="display:none"><span id="countries"></span>&nbsp;Countries</span>
                <span id="orgs_span" style="display:none"><span id="orgs"></span>&nbsp;Organizations</span>
             </span>
             <!-- <span id="next" >&#8594;</span> -->
           </div>
        </div>
		<div class="right" style="background-color:{{bg_color}}">
        <div id="comments_wrapper" style="background-color:{{bg_color}}">
          <!-- Define the div tag where the gadget will be inserted. -->
          <div id="div-6448190187886641253" style="width:211px;border:1px solid #cccccc;max-height:394px;margin-left:2px;background-color:{{bg_color}}"></div>
        </div>
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
          var skin = {};
          skin['BORDER_COLOR'] = '#cccccc';
          skin['ENDCAP_BG_COLOR'] = '#fdf7eb';
          skin['ENDCAP_TEXT_COLOR'] = '#333333';
          skin['ENDCAP_LINK_COLOR'] = '#0000cc';
          skin['ALTERNATE_BG_COLOR'] = '#ffffff';
          skin['CONTENT_BG_COLOR'] = '#ffffff';
          skin['CONTENT_LINK_COLOR'] = '#0000cc';
          skin['CONTENT_TEXT_COLOR'] = '#333333';
          skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
          skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
          skin['CONTENT_HEADLINE_COLOR'] = '#333333';
          skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
          skin['HEADER_TEXT'] = 'Comments';
          skin['POSTS_PER_PAGE'] = '4';
          skin['HEIGHT'] = '394';
google.friendconnect.container.setParentUrl('/gfc' /* location of rpc_relay.html and canvas.html */);
          google.friendconnect.container.renderWallGadget({
            id: 'div-6448190187886641253',
            site: site_id,
              'view-params':{"disableMinMax":"true","scope":"ID","features":"video,comment","docId":locationId,"startMaximized":"true","useFixedHeight":"true"}
          }, skin);
        </script>
      </div>
    </div>
<!--    <div class="bottom">
      <a id="big_button" href="http://www.youtube.com/user/Cop15">
      <img src="images/raise_your_voice.png" />
      </a>
      <div id="videoBar-bar">
        <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
      </div>
      <style type="text/css">
        @import url("http://www.google.com/uds/css/gsearch.css");
        @import url("http://www.google.com/uds/solutions/videobar/gsvideobar.css");
        .playerInnerBox_gsvb .player_gsvb {
          width : 320px;
          height : 260px;
        }
      </style>
    </div>
-->
  
  <div id="searchBar" style="width: 270px; z-index: 1; position: absolute; left: 2px; bottom: 25px;">
    <img id="searchLogo" src="http://www.google.com/uds/modules/elements/localsearch/logo_66x22.png" alt="Google logo"/>
    <input id="searchInput" type="text" value="search the map" title="search" name="search" style="position: absolute; width: 161px; height: 19px;"/>
    <input id="searchButton" type="submit" title="search" value="Search"/>
  </div>
  </div>
   
{% endblock %}
