{% extends "base.html" %}
{% block includes %}
    <link type="text/css" href="/css/syv.css" rel="stylesheet" />
    <link type="text/css" href="/css/forms.css" rel="stylesheet" />
    <script src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>

{% endblock %}
{% block tabs %}
<img src="/images/mini/HeaderTerms.png" width="600" height="39" border="0" usemap="#Map" style="background-color:{{bg_color}}" />
<map name="Map" id="Map">
  <area shape="rect" coords="1,1,189,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
</map>
{% endblock %}
{% block content %}
<p style="font-size: 10px; margin-left: 10px"><b>You must accept these terms to place the Show Your Vote web element on your website:</b></p>
<div style="width: 500; height: 150; background-color: FFFFFF; text-align: left; border-width: 1px; border-style: solid; border-color: cccccc; font-size: 10px; overflow: auto; padding: 5px; margin-left: 45px; line-height: 1.5">
<b>Show Your Vote - Publisher Terms of Service</b><br>
<br>
Show Your Vote is a web application you can embed on your website to let your end users submit their vote and other content in support of the COP15 goals (the "Application").  The Application uses Google Maps, Google Friend Connect, and Google App Engine to provide the Vote, Explore, and Learn features.  In order to use the Application, you must first agree to the Show Your Vote Publisher Terms of Service (the "Terms").<br>
<br>
These Terms include the following: (i) the terms and conditions in this document; (ii) the <a href="http://www.google.com/accounts/TOS" target="_blank">Google Terms of Service</a>, (iii) the <a href="http://www.google.com/intl/en_us/help/terms_maps.html" target="_blank">Google Maps / Google Earth Terms of Service</a>, and (iv) the <a href="terms?skin=mini&bg_color={{bg_color}}">Show Your Vote Terms of Service</a> (together, the "Agreement").  You understand and agree that Google will treat your use of the Application as acceptance of the Terms.<br>
<br>
You agree to use and make available the Application in the manner in which it is provided to you.    In presenting the Application, you agree not to offer additional functionality or solicit additional information from end users within or in connection with the Application in any way that suggests your additional functionality is provided by or endorsed by Google.  You agree to post and abide by a legally sufficient privacy policy for your site on which the Application is embedded.<br>
<br>
Google agrees to provide you certain information from the Application regarding User Submissions submitted from your site.  For individual users, the information provided to you will be aggregated.  Google will share more detailed information from organizational users with you, including the name of the organization.<br>
</div>
<br>
<p style="font-size: 10px; margin-left: 10px"><b>Fill out the details below, click 'Create URL' and place the resulting link onto your website:</b></p>
<br>
 <form name="sign" id="sign" action="/add/host" method="post" class="cmxform">
  <input type="hidden" name="skin" value="{{ skin }}" />
  <input type="hidden" name="bg_color" value="{{ bg_color }}" />
<div id="host_form" style="width: 600px; height: 250px; overflow:hidden; border: none">
  <fieldset style="border: 0px solid #000000; margin-left: 45 px; font-size: 12px">
    <ol>
      <ul class="host">
        <label for="host_name" style="display: inline-block; width: 100px">Contact Name <em>*</em></label>
        <input name="host_name" id="host_name" style="width: 120px; font-size:10px" class="required" minlength="2"/>
    
        <label for="host_email" style="display: inline-block; width: 100px; margin-left: 28px">Contact Email <em>*</em></label>
        <input name="host_email" id="host_email" style="width: 140px; font-size:10px" class="required email" minlength="2"/>
      </ul><br>

      <ul class="host">
        <label for="host_website" style="display: inline-block; width: 100px">Host Website <em>*</em></label>
        <input name="host_website" style="width: 120px; font-size:10px" class="url" minlength="2" value="www.example.com">

		<label for="host_bgcolor" style="display: inline-block; width: 150px; margin-left: 28px">Background Color (Hex) </label>
        <input name="host_bgcolor" style="width: 90px; font-size:10px" minlength="6" value="FFFFFF">  
      </ul>
    </ol>
  </fieldset>
<br>
	<p style="margin-left:45px; font-size: 12px">Required fields marked <em>*</em>
      <input id="submit" type="submit" value="Create URL"/></p>
  <div id="errmsg" style="color:#ff0000"></div>
</form>
</div>
{% endblock %}
