{% extends "base.html" %}
{% block includes %}
    <link type="text/css" href="/css/syv.css" rel="stylesheet" />
    <link type="text/css" href="/css/forms.css" rel="stylesheet" />
    <script src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
    <script src="/js/vote.js"></script>
    <script type="text/javascript">
      document.write(
        '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=' +
        {
          'localhost:8080': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hTwM0brOpm-All5BF6PoaKBxRWWERQKBKqDm80in1RTu5PkBiNU5rC6TQ',
          'www.corp.google.com': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hRCgqPHFwXE2zePYmMJxuu4uk_b2xT9IjfnJgIf53UIW67eDyEQGkZn7w',
          'showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
          'www.showyourvote.org': 'ABQIAAAAD8M9IMy5hGBBbqIohA4R4hQ8ELJusaStVeLp-McODOsiHrSWGhTwoDA6OSVhixqIn2IyFPsBBWLRlA',
          'show-your-vote.appspot.com': 'ABQIAAAA-O3c-Om9OcvXMOJXreXHAxRlOb26qSyU154aZeLwOrF4C7-DphSw7JoLuXrcDjUb_7h-S1txkSCY7A',
          'syv-test.appspot.com': 'ABQIAAAALrtqAVfQq7mfTTl0EBb7vBT0h0tJ-bKGUcjUByQY52vcgVjYfBTGUDVuRrptlbTJqV8QJhQ1sQgxDQ'
        }[location.host] +
        '" type="text/javascript"><\/script>'
      );
    </script>

{% endblock %}
{% block tabs %}
<img src="/images/mini/HeaderVote.png" width="600" height="39" border="0" usemap="#Map" style="background-color:{{bg_color}}"/>
<map name="Map" id="Map" >
  <area shape="rect" coords="12,10,60,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
  <area shape="rect" coords="60,10,132,39" href="explore?skin=mini&amp;bg_color={{bg_color}}" />
  <area shape="rect" coords="133,10,190,39" href="learn?skin=mini&amp;bg_color={{bg_color}}" />
    <area shape="rect" coords="219,10,400,39" href="vote?skin=mini&amp;bg_color={{bg_color}}" />
</map>
 <div id="div-2912608371130852112" class="gfc signin" style="position:absolute; left: 380px; top: 0px"></div>
           <script type="text/javascript">
              var skin = {};
              skin['BORDER_COLOR'] = 'transparent';
              skin['ENDCAP_BG_COLOR'] = '#f2f2f2';
              skin['ENDCAP_TEXT_COLOR'] = '#333333';
              skin['ENDCAP_LINK_COLOR'] = '#0000cc';
              skin['ALTERNATE_BG_COLOR'] = 'transparent';
              skin['CONTENT_BG_COLOR'] = 'transparent';
              skin['CONTENT_LINK_COLOR'] = '#0000cc';
              skin['CONTENT_TEXT_COLOR'] = '#333333';
              skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
              skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
              skin['CONTENT_HEADLINE_COLOR'] = '#333333';
              skin['ALIGNMENT'] = 'right';
             /* google.friendconnect.container.renderSignInGadget({
                id: 'div-2912608371130852112',
                site: site_id
              }, skin);*/
          </script>
{% endblock %}
{% block content %}
  <div id="vote">
    <form name="sign" id="sign" enctype="multipart/form-data" action="/add/signer" method="post" class="cmxform">
      <input type="hidden" name="website" value="{{ website }}" />
	    <div id="vote_map" style="width: 288px; height: 397px; overflow:hidden; border: 1px solid black">
	      <!-- map element -->
      </div>
      <fieldset id="VoteForm">
      <legend>
        <p style="font-size: 12px; margin-top:15px; margin-left:12px; margin-right:15px"><b>Your vote will be presented to world leaders at the COP15 UN climate summit in Copenhagen, telling them to seal a fair and effective climate deal.</b></p>
        <p style="font-size: 12px; margin-left:12px; margin-right:15px">Required fields marked <em>*</em>
      </legend>
        <ol>
          <li>
            <label for="form_toggle"><em>*</em> Are You An </label>
            <select id="form_toggle" onchange="toggleForm(jQuery(this).val())">
              <option value="person">Individual</option>
              <option value="org">Organization</option>
            </select>
          </li>
          <li class="person">
            <label for="person_name"><em>*</em>Name</label>
            <input name="person_name" id="person_name" />
          </li>
          <li class="org">
            <label for="org_name"> <em>*</em> Organization</label>
            <input name="org_name" id="org_name" />
          </li>
          <li class="org">
            <label for="email"><em>*</em> Email </label>
            <input name="email" id="email" class="email"/>
          </li>
          <li class="org">
            <label for="org_icon">Icon:</label>
            <input type="file" name="org_icon">
          </li>
          <li class="loc country">
            <label for="country"><em>*</em> Country</label>
            <select name="country" id="country" class="required">
              <option value="">- Select Your Country -</option>
            </select>
          </li>
          <li class="loc state">
            <label for="state"><em>*</em> State</label>
            <select name="state" id="state">
              <option value="">- Select Your State -</option>
            </select>
          </li>
          <li class="loc org">
            <label for="streetinfo"> <em>*</em> Street Address</label>
            <input type="text" name="streetinfo" id="streetinfo"/>
          </li>
          <li class="loc">
            <label for="city">City</label>
            <input type="text" name="city" id="city"/>
          </li>
          <li class="loc postcode">
            <label for="postcode"><em>*</em> Postcode </label>
            <input type="text" name="postcode" id="postcode"/>
          </li>
        </ol>
        <input type="hidden" id="nonce" name="nonce" />
        <input type="hidden" id="person_gfc_id" name="person_gfc_id" />
        <input type="hidden" id="lat" name="lat" />
        <input type="hidden" id="lng" name="lng" />
    <!--    <input type="hidden" id="person_name" name="person_name"> -->
        <input TYPE="image" id="Submit" SRC="images/submitButton.png" ALT="Submit Form" />
      </fieldset>
      
      <!--TODO: position this button -->
      
      <div id="errmsg" style="color:#ff0000"></div>
    </form>
  </div>
{% endblock %}